div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 'Edit the artists schedule'
    h3 'this is a really easy thing to do'
    h3 'boom!' Shit, Mich with a computer, everyone run!!!
    h3 'this is an additional tag'


div(class='gridStyle', ui-grid='gridOptions')